{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"],
      "presets": [["@babel/preset-env", {"targets": {"node": "current"}}]]
    }
  },
  "plugins": [
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash-es/${member}"
        }
      }
    ]
  ]
}
